.App {
  display: flex;
  flex-direction: column;
  max-height: 20vh;
  text-align: center;
}

h1 {
  text-align: left;
  padding-left: 5vh;
}

.padding{
  padding-top: 10vh;
}

.experience-details{
  text-align: left;
}

.experience{
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  color: rgb(87, 87, 87);
}
.layout-row{
  display: flex;
  gap: 3vh;
  padding: 5vh;
  flex: 1  2;
}

.alternative-layout-colours{
  color: rgb(255, 255, 255);
  background-color: rgb(87, 87, 87);
}

.photo {
  width: 25vh;
  height: auto;
}

#cfg {
  transform: rotate(-5deg);
}

.project-image{
  padding: 3vh;
  height: 15vh;
}

.icon{
  height: 5vh;
  padding: 2vh;
}

.project-image:hover {
  filter: brightness(150%);
  animation: wiggle 75ms infinite;
  animation-timing-function: linear;
}

@keyframes wiggle {
  0% { transform: translate(2px, 0); }
  50% { transform: translate(-2px, 0); }
  100% { transform: translate(2px, 0); }
}
@media screen and (max-width: 481px) {
  .hide-on-mob {
    display: none;
  }
}


